.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.toolbar {
    height: 20%;
    width: 100%;
    display: flex;
    background: rgb(39, 1, 65);
    border-top: 4px solid rgb(250, 140, 0);
    border-bottom: 4px solid rgb(250, 140, 0);
}

.create button {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: rgb(250, 140, 0);
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}

.header {
    text-align: center;
    color: rgb(250, 140, 0);
}

.row {
    text-align: center;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.example-form {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.example-full-width {
    width: 100%;
    justify-content: space-between;
}

.botao {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

td {
    padding-right: 8px;
}

#edit {
    color: rgba(238, 255, 5, 0.445);
}

#delete {
    color: rgba(255, 0, 0, 0.534);
}