<mat-toolbar class="header">
    <span> UniRide</span>

    <span class="example-spacer"></span>

    <button (click)="home()" mat-button class="botao">Home
      <mat-icon>home</mat-icon>
    </button>
    <button (click)="passageiro()" mat-button class="botao">passageiros
        <mat-icon>person_search</mat-icon>
      </button>
    <button (click)="motorista()" mat-button routerlink class="botao">Motoristas
        <mat-icon>directions_car</mat-icon>
      </button>
    <button (click)="corrida()" mat-button class="botao">Corridas
        <mat-icon>place</mat-icon>
      </button>
</mat-toolbar>