.header {
    height: 10%;
    display: flex;
    background: rgb(69, 97, 158);
    border-bottom: 4px solid rgb(250, 140, 0);
    align-items: center;
    justify-content: center;
}

.botao {
    color: rgb(250, 140, 0);
}

span {
    color: rgb(250, 140, 0);
    font-family: 'Times New Roman', Times, serif;
}

.example-spacer {
    flex: 1 1 auto;
}